<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Pricing Tables | CodingNepal</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
  <div class="wrapper">
  
    <div class="table">
      <div class="ribbon"><span>Discounted</span></div>
      <div class="Image">
        <img src="https://m.media-amazon.com/images/I/51BBr0hKcuL._AC_UL400_.jpg" alt="ima">
      </div>
      <div class="buttons">
        <button class="buy">Buy Now</button>
        <button class="cart">Add Cart</button>
      </div>
    </div>
  
  </div>

</body>
</html>
